.btn-white{
	background-color: #bbded6;
	font-size: 15px;
	padding: 10px 15px;
	border-radius: 4px;
	color: black;
	font-family: 'Roboto', sans-serif;
}

.btn-white-ddm{
	background-color: #bbded6;
	font-size: 15px;
	padding: 10px 15px;
	border-radius: 4px;
	color: black;
	font-family: 'Roboto', sans-serif;
	
}